<div class="sidebar-brand">
    <h1>Eitan Feldman</h1>
    <p>Chronicling journeys, one landscape and story at a time.</p>
</div>

<div class="nav-section-title">Navigation</div>
<ul>
    <li><a href="index.html">Home</a></li>
</ul>

<div class="nav-section-title">Archived Writings (Chronological)</div>
<ul id="archive-list">
    <li><a href="star.html">Star</a></li>
    <li><a href="the-price-of-freedom.html">The Price of Freedom</a></li>
    <li><a href="space-and-time-constraints.html">Space and Time Constraints</a></li>
    <li><a href="spending-the-night-alone.html">I Asked Her to Spend the Night with Me</a></li>
    <li><a href="nanjing-birds.html">These are the People that Walk their Birds</a></li>
    <li><a href="cabbies-and-cinnamon-toast.html">It Gets Easier to Talk to Cabbies</a></li>
    <li><a href="untitled.html">Untitled</a></li>
    <li><a href="eitan-goes-to-maoland.html">Eitan Goes to Maoland</a></li>
    <li><a href="walking.html">Walking</a></li>
    <li><a href="life-in-manila.html">Life in Manila</a></li>
    <li><a href="henry-calls.html">Henry Calls</a></li>
    <li><a href="the-man-counts-his-change.html">The Man Counts His Change</a></li>
    <li><a href="life-on-the-hacienda.html">Life on the Hacienda</a></li>
    <li><a href="rain.html">Rain</a></li>
    <li><a href="brand-new-jetta.html">Brand New Jetta</a></li>
    <li><a href="eating-vegetarian-like-an-indian.html">Eating Vegetarian Like an Indian</a></li>
    <li><a href="depression-is-shit.html">Depression is Shit</a></li>
    <li><a href="kosher-cakes.html">Kosher Cakes</a></li>
    <li><a href="the-humor-capital.html">The Humor Capital</a></li>
    <li><a href="remembering-rich.html">Remembering Rich</a></li>
    <li><a href="marshrutka-roulette.html">Marshrutka Roulette</a></li>
    <li><a href="a-note-about-a-girl.html">A Note About a Girl (2010)</a></li>
    <li><a href="the-awkward-chinese-guy-phenomenon.html">The Awkward Chinese Guy Phenomenon (2010)</a></li>
    <li><a href="suzhou-2010.html">The Venice of the East (2010)</a></li>
</ul>

<div class="nav-section-title" style="margin-top: 20px; padding-left: 0; font-size: 0.7em;">Unsorted Stories</div>
<ul id="unsorted-list">
    <li><a href="lets-go-bagpiping.html">Let's Go Bagpiping</a></li>
    <li><a href="land-of-make-believe-china.html">Land of Make Believe China</a></li>
    <li><a href="to-lose-a-mother.html">To Lose a Mother</a></li>
    <li><a href="defense-of-letter-writing.html">Defense of Letter Writing</a></li>
    <li><a href="thieves-in-the-night.html">Thieves in the Night</a></li>
    <li><a href="khao-san-road.html">Wonders of Khao San Road</a></li>
    <li><a href="fun-times-in-boston.html">Fun Times in Boston</a></li>
    <li><a href="hong-kong-in-a-day.html">Hong Kong in a Day</a></li>
    <li><a href="the-lonely-quiet-pleasures-of-insomnia.html">Pleasures of Insomnia</a></li>
    <li><a href="running-with-the-shadows-of-the-night.html">Shadows of the Night</a></li>
    <li><a href="craigslist-travelin.html">Craigslist Travelin'</a></li>
    <li><a href="finally-i-get-some-free-time.html">Finally, Free Time</a></li>
    <li><a href="what-sugarcane-farming-is-to-me.html">Sugarcane Farming</a></li>
    <li><a href="eitan-says-goodbye.html">Eitan Says Goodbye</a></li>
    <li><a href="tips-for-entering-the-monster.html">Entering the Monster</a></li>
    <li><a href="eitan-and-the-magic-elbow.html">The Magic Elbow</a></li>
    <li><a href="the-faces-of-food.html">The Faces of Food</a></li>
    <li><a href="talk-about-sea-monkeys.html">Talk about Sea Monkeys</a></li>
    <li><a href="we-get-caught-in-the-rain.html">Caught in the Rain</a></li>
    <li><a href="the-crabs-incident.html">The Crabs Incident</a></li>
    <li><a href="eitan-on-strength.html">Eitan on Strength</a></li>
</ul>
