<ul id="archive-list">
    <li><a href="star.html">Star</a></li>
    <li><a href="the-price-of-freedom.html">The Price of Freedom</a></li>
    <li><a href="space-and-time-constraints.html">Space and Time Constraints</a></li>
    <li><a href="spending-the-night-alone.html">I Asked Her to Spend the Night with Me</a></li>
    <li><a href="nanjing-birds.html">These are the People that Walk their Birds</a></li>
    <li><a href="cabbies-and-cinnamon-toast.html">It Gets Easier to Talk to Cabbies</a></li>
    <li><a href="untitled.html">Untitled</a></li>
    <li><a href="eitan-goes-to-maoland.html">Eitan Goes to Maoland</a></li>
    <li><a href="walking.html">Walking</a></li>
    <li><a href="life-in-manila.html">Life in Manila</a></li>
    <li><a href="henry-calls.html">Henry Calls</a></li>
    <li><a href="the-man-counts-his-change.html">The Man Counts His Change</a></li>
    <li><a href="life-on-the-hacienda.html">Life on the Hacienda</a></li>
    <li><a href="rain.html">Rain</a></li>
    <li><a href="brand-new-jetta.html">Brand New Jetta</a></li>
    <li><a href="eating-vegetarian-like-an-indian.html">Eating Vegetarian Like an Indian</a></li>
    <li><a href="depression-is-shit.html">Depression is Shit</a></li>
    <li><a href="kosher-cakes.html">Kosher Cakes</a></li>
    <li><a href="the-humor-capital.html">The Humor Capital</a></li>
    <li><a href="remembering-rich.html">Remembering Rich</a></li>
    <li><a href="marshrutka-roulette.html">Marshrutka Roulette</a></li>
    <li><a href="the-awkward-chinese-guy-phenomenon.html">The Awkward Chinese Guy Phenomenon (2010)</a></li>
    <li><a href="suzhou-2010.html">The Venice of the East (2010)</a></li>
</ul>
